{% extends "main.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Detail události č. {{ event.id }}</h3>
    <table class="table table-striped">
        <tr>
            <th>Pojištěnec:</th>
            <td>{{ event.insurance.insured_person.name }} {{ event.insurance.insured_person.surname }}</td>
        </tr>
        <tr>
            <th>Typ pojištění:</th>
            <td>{{ event.insurance.insurance_type.insurance_name }}</td>
        </tr>
        <tr>
            <th>Předmět pojištění:</th>
            <td>{{ event.insurance.insurance_subject }}</td>
        </tr>
        <tr>
            <th>Cena pojištění:</th>
            <td>{{ event.insurance.insurance_price }} Kč</td>
        </tr>
        <tr>
            <th>Datum zahájení:</th>
            <td>{{ event.insurance.start_date }}</td>
        </tr>
        {% if event.insurance.end_date %}
        <tr>
            <th>Datum ukončení:</th>
            <td>{{ event.insurance.end_date }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Aktivní:</th>
            <td>{{ event.insurance.is_active|yesno:"Ano,Ne" }}</td>
        </tr>
        <tr>
            <th>Datum a čas události:</th>
            <td>{{ event.event_date }}</td>
        </tr>
        <tr>
            <th>Datum a čas nahlášení události:</th>
            <td>{{ event.report_date }}</td>
        </tr>
        <tr>
            <th>Popis události:</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>Výše škody:</th>
            <td>{{ event.damage_amount }}</td>
        </tr>
        <tr>
            <th>Výše vyplacené částky:</th>
            <td>{{ event.payment_amount }}</td>
        </tr>        
        <tr>
            <th>Schváleno:</th>
            <td>{{ event.is_approved|yesno:"Ano,Ne" }}</td>
        </tr>
    </table>
    
</div>
{% endblock %}


{% block sidebar %}
    <ul class="sidebar-menu">
        <li>                        
            <a href="{% url 'pojistovna:event_list' %}" class="btn btn-outline-secondary" title="Zpět na události">
                <i class="bi bi-arrow-left fs-3"></i>
            </a>
        </li>
    </ul>
{% endblock %} 