{% extends "main.html" %}


{% block content %}

<h1>🏠 Vítejte v naší pojišťovně!</h1>
<br>
<h2>Spolehlivá ochrana pro vás, váš majetek i vaše blízké</h2>
<p>V naší pojišťovně nabízíme širokou škálu pojištění, která vám zajistí klid a jistotu v každodenním životě. Ať už hledáte zdravotní, majetkové nebo cestovní pojištění – u nás jste na správném místě.</p>
<p>Naše pojišťovna se specializuje na poskytování komplexních pojišťovacích služeb, které jsou přizpůsobeny vašim individuálním potřebám. S námi získáte nejen kvalitní krytí, ale také profesionální podporu a poradenství.</p>
<br>
<h3>Naše služby zahrnují:</h3>
<ul>
    <li>🩺 Zdravotní pojištění – pro vaši ochranu a zdraví</li>
    <li>🏠 Majetkové pojištění – ochrana vašeho domova a majetku</li>
    <li>✈️ Cestovní pojištění – bezpečné cestování bez starostí</li>
    <li>🚗 Pojištění vozidel – ochrana vašeho automobilu</li>
    <li>👨‍👩‍👧‍👦 Životní pojištění – zabezpečení vaší rodiny </li>
</ul>
<br>
<h3>Proč si vybrat naši pojišťovnu?</h3>
<ul>
    <li>📞 Rychlá a snadná online správa pojištění</li>
    <li>📄 Jasné podmínky bez skrytých poplatků</li>
    <li>🤝 Individuální přístup ke každému klientovi</li>
    <li>⚡ Možnost aktivovat pojištění během pár kliknutí</li>
</ul>
<br>
{% endblock %}

{% block sidebar %}
    <info>
        <p>Sídlo:</p>
        <p>U Přílivu 42, Praha 1,<br>110 00</p>
        <p>Telefon: +420 800 123 456</p>
        <p>Email: <a href="" style="background-color: aliceblue; padding: 3px; border-radius: 4px; box-shadow: 2px 2px 7px rgb(13, 9, 65);">info@futuremax.cz</a></p>
        <p>Web: <a href="" style="background-color: aliceblue; padding: 3px; border-radius: 4px; box-shadow: 2px 2px 7px rgb(13, 9, 65);">www.futuremax.cz</a></p>
        <p>IČO: 12345678</p>
        <p>DIČ: CZ12345678</p>
        <p>Zákaznická linka:</p>
        <p>Po–Pá 8:00–18:00</p>
    </info>
{% endblock %} 